<div class="category-container">
    <ul>
        {{#each categories}}
        <li class="category-item">
            <a href="/{{ name }}">
                <span class="category-item__icon" style="background-image: url(../img/{{ name }}.svg)"></span>
                <span class="category-item__text">{{ title }}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>